:root {
  --main-font: "DIN-Bold";
  --main-font-bold: "Monument-Bold";
  --accent-color: #c1272d;
  /* --accent-color: #d33e43; */
  --background-color: #19191a;
}

body {
  background-color: var(--background-color);
}

@font-face {
  font-family: "Monument";
  src: url(./fonts/MonumentExtended-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Monument-Bold";
  font-weight: 900;
  src: url(./fonts/MonumentExtended-Ultrabold.otf) format("opentype");
}

@font-face {
  font-family: "DIN";
  src: url(./fonts/D-DINCondensed.otf) format("opentype");
}

@font-face {
  font-family: "DIN-Bold";
  font-weight: 900;
  src: url(./fonts/D-DINCondensed-Bold.otf) format("opentype");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-listing--item {
  display: flex;
  flex: 30%;
  padding: 1rem 40px 1rem 0;
  /* cursor: pointer; */
  box-sizing: content-box;
  position: relative;
  align-items: flex-start;
  border-style: solid;
  border-width: 2px;
  border-color: #61dafb;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: var(--main-font);
  color: var(--accent-color);
}

/* Change the color of links on hover */
.topnav a:hover,
.midnav a:hover {
  opacity: 0.6;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #61dafb;
  color: white;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
}

/* Style the links inside the MID navigation bar */
.midnav a {
  color: black;
  float: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: var(--main-font);
  color: var(--accent-color);
}

.midnav {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

#shoe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: var(--main-font);
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: var(--accent-color);
}

h2 {
  padding-top: 10px;
}

.product-listing--item {
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  max-width: 50%;
}

.product-listing--name,
.product-listing--price {
  padding-top: 15px;
  display: block;
  font-size: large;
  font-family: var(--main-font);
  color: var(--accent-color);
}

.product-listing--img img {
  max-width: 60%;
  background: none;
}

/* Change the color of links on hover */
.product-listing--img img:hover {
  opacity: 0.6;
}

.page-item .page-link {
  color: var(--accent-color);
  font-size: 17px;
  font-family: var(--main-font);
  display: block;
  text-align: center;
}

#products > nav {
  display: block;
  text-align: center;
}

.Home video {
  max-width: 100%;
}

.clickToEnter {
  font-family: "Monument";
}
